@import "tailwindcss";
body{
    background-color: #F1F1F0;
    height: 100px;
}

@media screen and (min-width:100px ) and (max-width:1500px ) {
    html{
        font-size: 25px;
    }
}
@media screen and (min-width:400px ) and (max-width:700px ) {
    html{
        font-size: 17px;
    }
}
    
.ic{
    @apply items-center;
}
.jc{
    @apply justify-center;
}
.tc{
    @apply text-center;
}

.fontLarge {
    @apply text-[50px];
}


