.our-new-arrivals{
    /* background-color: red; */
    font-family: "Marcellus", serif; 
}

.view-all-products{
      font-family: "Jost", sans-serif;
}

.our-new-arrival{
    font-family: "Marcellus", serif; 
}