.para-text{
        color: grey;
}
.section2{
    font-family: "Marcellus", serif; 

}
.second-line {
  display: block;
  text-align: center;
}



.Book_An_Appointment{
    font-family: "Marcellus", serif; 
}